# Diretórios e arquivos do Node.js
node_modules/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Logs
logs
*.log
logs/**/*.log

# Arquivos temporários
tmp/
temp/
*.pid
*.seed
*.pid.lock


# Configurações locais
*.local
.env.*

# TypeScript
*.tsbuildinfo

# Arquivos de cache do TypeScript e build temporário
tsconfig.tsbuildinfo
.cache/
